# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Environment variables
.env
.env.local
.env.*

# Version control
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE / OS
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testing
coverage
test

# Misc
*.md
